@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
    font-family: "Lato", sans-serif;
}
.hero{
    background: url('../src/assets/heroimage.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 551px;

}
h1{
   font-size: 48px;
   font-weight: 700; 
}
h2{
    font-size: 32px;
    font-weight: 600;
}
.btn-danger{
    background-color: #E71800 !important; 
}
.text-danger{
    color: #E71800 !important;
}
.bg-red{
    background-color: #E71800 !important;
    width: 180px;
    height: 6px;
    border-radius: 8px;
}
.bg-cover{
    background: url('../src/assets/cover.png');
    background-position: center; 
    background-repeat: no-repeat;
    height: 196px;
}

.preloader-container {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #0a3d8a;
display: flex;
justify-content: center;
align-items: center;
}
.logo-animation {
background-image: url('../src/assets/preloader.png');
width: 100px;
height: 100px;
animation: spin 2s linear infinite;
background-position: center; 
background-repeat: no-repeat;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.preloader-container h4{
    color: aqua;
}


